@model Nhom5.Models.Kho

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Kho:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKho)
        </dd>
        <dt class = "col-sm-2">
            Tên Sản Phẩm:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            Thương Hiệu:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuongHieu)
        </dd>
        <dt class = "col-sm-2">
            Địa Chỉ:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiKho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KhoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
