@model Nhom05.Models.SanPham

@{
    ViewData["Title"] = "Create";
}




<hr />
<div class="row ">
    <div class="col-md-4 w3-card-4">
        <h1 class="w3-container w3-green w3-margin w3-round">Thêm Sản Phẩm</h1>
        <form asp-action="Create" class="w3-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDSanPham" class="control-label"></label>
                <input asp-for="IDSanPham" class="form-control " value="@ViewBag.IDSanPham" readonly/>
                <span asp-validation-for="IDSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSanPham" class="control-label"> Tên Sản Phẩm</label>
                <input asp-for="TenSanPham" class="form-control " />
                <span asp-validation-for="TenSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuongHieu" class="control-label"> Thương Hiệu</label>
                <input asp-for="ThuongHieu" class="form-control" />
                <span asp-validation-for="ThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"> Giá</label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary w3-margin" />
            </div>
            <div>
              <a asp-action="Index" class="w3-button w3-khaki w3-round  w3-margin-bottom">Danh Sách Sản phẩm</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
